.container_project_box{
  width: 370px;
  height: auto;
  padding: 10px 0px 10px 0px;
  border-radius: 20px;
  border: 1px solid $color-light;
  background: $color-bg-variant;
  transition: 1s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  h4{
    color: $color-primary;
    padding: 0 10px 0 10px;
  }

  p{
    color: $color-white;
    font-size: 15px;
    padding: 0 10px 0 10px;
  }
}

.container_project_box:hover{
  background: none;
}

.photo_project_box{
  width: 350px;
  height: auto;
  overflow: hidden;
  img{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
  }
}

.project_button_group{
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}